body, html {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  font-family: "Josefin Sans", sans-serif;
}

/* General Code */
h1 {
  font-size: 2rem;
  text-align: center;
  color: #1b3e0f;
  margin: 0;
}

h2 {
  color: #1b3e0f;
  margin-top: 0;
}

section {
  max-width: 100vw;
  background-size: cover;
  background-color: #edfce7;
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-repeat: no-repeat;
  background-position: bottom right;
  justify-content: flex-start;
  text-align: left;
}

.section-h1 {
  font-family: "Ibarra Real Nova", serif;
  font-size: 3rem;
  opacity: 0;
  transform: translateX(0);
  transition: opacity 1s ease-out, transform 2s ease-out;
  margin-bottom: 50px;
}

.section-h1.visible {
  opacity: 1;
  transform: translateY(100);
}

.section-h2 {
  font-size: 1.6rem;
  opacity: 0;
  font-weight: 500;
  transform: translateX(0);
  transition: opacity 1s ease-out, transform 2s ease-out;
}

.section-h2.visible {
  opacity: 1;
  transform: translateY(100);
}

/* Hero */
.header {
  background-image: url('images/header-image.png');
  background-size: 130%;
  background-position-x: left;
  background-position-y: center;
  height: 100%;
  max-width: 100%;
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  letter-spacing: .1rem;
  background-repeat: no-repeat;
}

.header-h1 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 20px 0;
  color: #fff;
  text-align: left;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.header-h1.animate {
    opacity: 1;
    transform: translateY(0px);
}             

.header-content {
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

#header-logo {
  width: 250px;
  opacity: 0;
  transform: translateY(-20px); /* Correct transform property */
  transition: opacity 1s ease-out, transform 1s ease-out;
  margin-bottom: 50px;
}

#header-logo.animate {
  opacity: 1;
  transform: translateY(0); /* Correct transform property */
}
.latest-release {
  width: 90%;
  margin-left: 80px;
  margin-top: 50px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  color: white;
  padding: 50px 50px;
}

.nav-links {
  display: flex;
  flex-direction: row;
}

.logo a, .nav-links a {
  color: white;
  text-decoration: none;
  padding: 8px 10px;
}

.links {
  text-transform: uppercase;
}

.links h1 {
  font-weight: 400;
  font-size: 1rem;
}

.nav-links a:hover {
  background-color: #575757;
  border-radius: 5px;
}

#contact h2 {
  color: #fff !important;
}

#contact-container-h1 {
  transform: translateX(0);
  transition: opacity 1s ease-out, transform 2s ease-out;
}

#contact-container-h1.visible {
    opacity: 1;
  transform: translateY(100);
}


/* Music Section */
#artist-container {
  width: 80%;
}

.listen-container {
  width: 50%;
}

.columns-container {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.songs-container {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.song-covers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.song-cover {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  flex-direction: column;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 2s ease-out;
}

.song-cover.visible {
  opacity: 1;
  transform: translateY(0);
}

.song-cover img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.song-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.song-cover:hover .song-overlay {
  opacity: 1;
}

.song-name {
  font-size: 1rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.play-button {
  padding: 8px 16px;
  background-color: #fff;
  color: #1b3e0f;
  text-decoration: none;
  border-radius: 5px;
}

/* About Section */
#about {
  background-image: url('images/vine-background.png');
  background-size: 100%;
  background-position-x: center;
  background-position-y: center;
  max-width: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  letter-spacing: .1rem;
  align-items: center;
  min-height: 100vh;
}

#about h1 {
  color: #fff;
  margin-bottom: 10px;
}

.about-container {
  max-width: 60%;
  text-align: center;
  line-height: 1.6;
  color: #fff;
}

.about-container p {
  font-size: 1rem;
  font-weight: 300;
}

/* Contact Section */
#contact {
  max-width: 100vw;
  padding: 0;
}

.contact-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 400px;
  overflow: hidden; /* Ensure no overflow */
}

#subscribe-container {
  background-color: #930808;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  justify-content: center;
  width: 50%;
  padding: 50px;
}

#contact-links {
  background-color: #182838;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 50px;
}

#contact-links h1 {
  color: white;
  font-family: "Ibarra Real Nova", serif;
  font-size: 3rem;
  letter-spacing: 2px;
}

.contact-lines {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
}

.contact-lines img {
  width: 25px;
  height: 25px;
  margin-right: 30px;
}

/* footer */
footer {
  background-color: #302F00;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-nav {
  margin: 20px 0;
}

.footer-nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.footer-nav a:hover {
  text-decoration: underline;
}


/* Add mobile */
@media (max-width: 1024px) {
  .navbar a {
    display: block;
    margin: 10px 0;
  }

  .header {
    background-image: url('images/header-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    letter-spacing: .1rem;
  }

  .listen-container h2 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 30px;
  }

  #about {
    background-image: url('images/vine-background.png');
    background-size: cover;
    max-width: 100%;
    padding: 30px;
  }

  iframe {
    width: 85%;
    height: 350px;
  }

  #contact .columns-container {
    margin-top: 0;
  }

  #contact-links {
    margin-top: 0;
    border-radius: 0;
  }

  #subscribe-container {
    margin-top: 0;
    border-radius: 0;
  }

  #contact {
    height: 400px;
  }

  .footer-p {
    line-height: 1.5rem;
  }
}

@media (max-width: 480px) {
  section {
    max-width: 100vw;
  }

  .nav-links {
    display: none;
    margin: 10px 0;
  }

  .header {
    background-image: url('images/header-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    letter-spacing: .1rem;
    background-position: center;
  }

  .navbar {
    margin: 0;
    padding: 10px;
    justify-content: space-between;
  }

  #header-logo {
    width: 200px;
    margin: 0;
  }

  .header-content {
    justify-content: center;
  }

  .latest-release {
    margin-left: 30px;
  }

  .header-h1 {
    font-size: 1rem;
    margin: 0;
  }

  iframe {
    width: 85%;
    height: 350px;
  }

  .columns-container {
    flex-direction: column;
    width: 100%;
  }

  .listen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .listen-container h2 {
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 20px;
  }

  #artist-container > iframe {
    width: 100%;
    height: 360px;
  }

  #artist-container {
    width: 100%;
  }

  #music {
    padding: 30px;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-h1 {
    margin-top: 20px;
    font-weight: 900;
    margin-bottom: 30px;
    font-size: 2.5rem;
  }

  .header-h1 {
    margin-bottom: 20px;
  }

  .song-covers {
    grid-template-columns: 1fr;
    margin-top: 50px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .song-cover {
    width: 80%;
  }

  #about {
    background-image: url('images/vine-background.png');
    background-size: cover;
    max-width: 100%;
    padding: 30px;
  }

  #about h1 {
    font-weight: 500;
  }

  .about-container {
    min-width: 100%;
    text-align: center;
    line-height: 1.6;
    color: #fff;
    padding-top: 10px;
  }

  .about-container p {
    font-size: 0.8rem;
    font-weight: 400;
  }

  .contact-container {
    flex-direction: column;
    max-width: 100vw;
    height: auto;;
  }



  #contact-links {
    width: 100vw;
    padding: 20px 0px 20px 0px;

  }

  #subscribe-container {
    width: 100vw;
    padding: 20px;
  }

  .contact-lines {
    justify-content: center;
  }

  #contact-links h1 {
    font-size: 2rem;
  }
  #contact {
    height: auto;
  }
  .contacts {
    height: 150px;
  }
}
